{% extends "store/base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h2>Products</h2>
    <div class="product-list">
        {% for product in products %}
            {% if forloop.first or forloop.counter0|divisibleby:6 %}
                <div class="row">
            {% endif %}
            
            <div class="product-item">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                </a>
                <p>${{ product.price }}</p>
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            
            {% if forloop.counter|divisibleby:6 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}



